@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #24273a;
}

@font-face {
  font-family: JetBrainsMono;
  src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 34ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typeme {
  width: 34ch;
  animation:
    typing 2s steps(25),
    blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 10px solid #f2d5cf;
}

.output {
  width: 100%;
  max-width: 80ch;
  animation: fade 5s;
}

html,
body {
  background-color: var(--bg-color);
  font-family: JetbrainsMono;
}
