@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #24273A;
}

@font-face {
  font-family: JetBrainsMono;
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2'); 

}

html {
  background-color: var(--bg-color); 
  font-family: JetbrainsMono;
}
